
<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="search">Tìm kiếm</label>
            <input type="text" name="q" class="form-control" id="search" placeholder="nhập để tìm kiếm">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>

         <div class="form-group">
            <label for="search">Tìm kiếm</label>
            <select name="gender" class="form-control" id="search">
                <option value="">--Chọn giới tính</option>
                <option value="male">Nam</option>
                <option value="famale">Nữ</option>
        </div>

</form>
</div>